body {
	font-family: Arial, sans-serif;
	background-color: #212121;
	color: #fff;
	margin: 0;
	padding: 0;
  }
  .container {
	max-width: 800px;
	color: #1a1a1a;
	margin: 0 auto;
	padding: 40px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  h1, h2 {
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
	color: #212121;
  }
  ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  li {
	margin-bottom: 10px;
  }
  table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 40px;
  }
  th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  th {
	background-color: #eee;
  }
  tr:last-child td {
	
	font-weight: bold;
	border-top: 1px solid #ddd;
  }
  tr:last-child th {
	
	border-top: 1px solid #ddd;
  }
  .detallelogo{
	position: absolute;
	width: 60px;
	height: 60px;
	margin-top: -10px;
	margin-left: 100px;
  }